body {
    height: 100%;
    /*background: url(img/background2.jpg), linear-gradient(rgba(255, 255, 255,0.6), rgba(255, 255, 255,0.6));;*/
    background-size: cover;
    background-blend-mode: overlay;
}

.hover-block:hover {
    background-color: #ece7e7;
    border-radius: 10px;
}
